<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flash.css') }}">
    
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-container">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1>Welcome to the Hospital Management System</h1>

    <div class="links">
        <a href="/login">Click here to Login</a>
        <a href="/signup">Not a Registered User? Click here to Sign Up</a>
        
    </div>

</body>
</html>
